# 01-SQL-Consultas-Básicas

In [1]:
# Librerias
import pandas as pd
from sqlalchemy import create_engine

In [2]:
# Conerctar a mi SQLserver
driver = "ODBC Driver 17 for SQL Server"
server = r"DESKTOP-GB9FFBV"
database = "BD_SQL_"

In [3]:
# Crear motor de conexión
connection_string = f"mssql+pyodbc://@{server}/{database}?driver={driver}"
engine = create_engine(connection_string)

In [4]:
# -------------------------------
# 1. Mostrar todos los registros de la tabla clientes.
# -------------------------------
df1 = pd.read_sql("SELECT * FROM clientes;", engine)
print(df1)

     id_cliente       nombre fecha_registro      pais    ciudad  edad genero
0             1    Cliente 1     2020-01-01  Colombia  Arequipa    31      M
1             2    Cliente 2     2020-01-02    Mexico  Arequipa    48      M
2             3    Cliente 3     2020-01-03      Peru  Arequipa    41      F
3             4    Cliente 4     2020-01-04  Colombia  Trujillo    52      M
4             5    Cliente 5     2020-01-05  Colombia  Arequipa    61      F
..          ...          ...            ...       ...       ...   ...    ...
795         796  Cliente 796     2022-03-06  Colombia     Cusco    53      F
796         797  Cliente 797     2022-03-07      Peru      Lima    28      M
797         798  Cliente 798     2022-03-08  Colombia     Cusco    68      F
798         799  Cliente 799     2022-03-09      Peru      Lima    32      F
799         800  Cliente 800     2022-03-10  Colombia  Arequipa    21      M

[800 rows x 7 columns]

In [5]:
# -------------------------------
# 2. Listar los nombres de todos los productos disponibles.
# -------------------------------
df2 = pd.read_sql("SELECT id_producto, nombre_producto FROM productos;", engine)
print(df2)

    id_producto nombre_producto
0             1      Producto 1
1             2      Producto 2
2             3      Producto 3
3             4      Producto 4
4             5      Producto 5
5             6      Producto 6
6             7      Producto 7
7             8      Producto 8
8             9      Producto 9
9            10     Producto 10
10           11     Producto 11
11           12     Producto 12
12           13     Producto 13
13           14     Producto 14
14           15     Producto 15
15           16     Producto 16
16           17     Producto 17
17           18     Producto 18
18           19     Producto 19
19           20     Producto 20
20           21     Producto 21
21           22     Producto 22
22           23     Producto 23
23           24     Producto 24
24           25     Producto 25
25           26     Producto 26
26           27     Producto 27
27           28     Producto 28
28           29     Producto 29
29           30     Producto 30
30           31     Producto 31
31           32     Producto 32
32           33     Producto 33
33           34     Producto 34
34           35     Producto 35
35           36     Producto 36
36           37     Producto 37
37           38     Producto 38
38           39     Producto 39
39           40     Producto 40

In [6]:
# -------------------------------
# 3. Obtener los nombres y salarios de todos los empleados.
# -------------------------------
df3 = pd.read_sql("SELECT id_vendedor, nombre, salario FROM empleados;", engine)
print(df3)

    id_vendedor       nombre      salario
0             1   Empleado 1  6840.640137
1             2   Empleado 2  4485.220215
2             3   Empleado 3  3825.689941
3             4   Empleado 4  4712.379883
4             5   Empleado 5  6883.620117
5             6   Empleado 6  3678.850098
6             7   Empleado 7  2629.449951
7             8   Empleado 8  6128.089844
8             9   Empleado 9  6868.859863
9            10  Empleado 10  2154.139893
10           11  Empleado 11  3059.179932
11           12  Empleado 12  2422.820068
12           13  Empleado 13  3761.620117
13           14  Empleado 14  4427.279785
14           15  Empleado 15  6367.370117
15           16  Empleado 16  5732.459961
16           17  Empleado 17  5536.040039
17           18  Empleado 18  3790.439941
18           19  Empleado 19  6969.410156
19           20  Empleado 20  4563.370117
20           21  Empleado 21  7864.180176
21           22  Empleado 22  5621.919922
22           23  Empleado 23  2320.719971
23           24  Empleado 24  5895.149902
24           25  Empleado 25  3613.179932
25           26  Empleado 26  5961.129883
26           27  Empleado 27  1952.670044
27           28  Empleado 28  2636.729980
28           29  Empleado 29  7062.290039
29           30  Empleado 30  2976.669922
30           31  Empleado 31  6940.770020
31           32  Empleado 32  3315.290039
32           33  Empleado 33  5678.729980
33           34  Empleado 34  6011.979980
34           35  Empleado 35  4832.259766
35           36  Empleado 36  3484.520020
36           37  Empleado 37  2882.189941
37           38  Empleado 38  1715.729980
38           39  Empleado 39  3475.649902
39           40  Empleado 40  5745.560059
40           41  Empleado 41  7598.979980
41           42  Empleado 42  7162.830078
42           43  Empleado 43  6479.419922
43           44  Empleado 44  6624.910156
44           45  Empleado 45  5822.399902
45           46  Empleado 46  3191.860107
46           47  Empleado 47  7396.770020
47           48  Empleado 48  5859.759766
48           49  Empleado 49  5142.859863
49           50  Empleado 50  2221.429932

In [7]:
# -------------------------------
# 4. Mostrar las ventas realizadas en el año 2024.
# -------------------------------
df4 = pd.read_sql("SELECT * FROM ventas WHERE DATEPART(YEAR, fecha_venta) = 2024;", engine)
print(df4)

       id_venta  id_cliente  id_producto  id_vendedor fecha_venta  cantidad  \
0             1         558           32           30  2024-10-16         2
1            11         596            8           10  2024-11-23         1
2            14         270           32           48  2024-07-12         2
3            16         614            7            5  2024-08-27         4
4            17         727           35           15  2024-03-08         1
...         ...         ...          ...          ...         ...       ...
12842     32748         553           40           27  2024-08-15         4
12843     32749         533           28           18  2024-10-14         2
12844     32758          27            9           49  2024-08-23         2
12845     32765         634           39           23  2024-05-12         1
12846     32767          11            6           40  2024-01-23         1

       precio_unitario   canal region estado_entrega
0           211.550003  TIENDA    Sur      ENTREGADO
1           412.769989  TIENDA  Norte      PENDIENTE
2           467.140015     APP  Norte      CANCELADO
3           146.300003  TIENDA  Norte      PENDIENTE
4           151.110001     APP    Sur      CANCELADO
...                ...     ...    ...            ...
12842       329.519989     WEB    Sur      PENDIENTE
12843       308.109985  TIENDA    Sur      ENTREGADO
12844        30.059999     APP    Sur      CANCELADO
12845       430.649994  TIENDA    Sur      ENTREGADO
12846       333.190002  TIENDA    Sur      CANCELADO

[12847 rows x 10 columns]

In [8]:
# -------------------------------
# 5. Listar los clientes registrados en el último mes.
# -------------------------------
df5 = pd.read_sql("""
SELECT *
FROM clientes
WHERE fecha_registro >= DATEADD(month,-1,DATETRUNC(month, SYSDATETIME()))
  AND fecha_registro < DATETRUNC(month, SYSDATETIME());
""", engine)
print(df5)

Empty DataFrame
Columns: [id_cliente, nombre, fecha_registro, pais, ciudad, edad, genero]
Index: []

In [9]:
# -------------------------------
# 6. Calcular el total de ingresos (cantidad * precio_unitario) de la tabla ventas.
# -------------------------------
df6 = pd.read_sql("SELECT SUM(precio_unitario * cantidad) AS total_ingresos FROM ventas;", engine)
print(df6)

   total_ingresos
0    2.551963e+07

In [10]:
# -------------------------------
# 7. Contar cuántas ventas se registraron por canal de venta.
# -------------------------------
df7 = pd.read_sql("SELECT canal, COUNT(id_venta) AS total_ventas FROM ventas GROUP BY canal;", engine)
print(df7)

    canal  total_ventas
0  TIENDA         10936
1     WEB         10925
2     APP         10906

In [11]:
# -------------------------------
# 8. Mostrar los productos vendidos en la región 'Lima'.
# -------------------------------
df8 = pd.read_sql("""
SELECT v.id_producto, p.nombre_producto
FROM ventas v
LEFT JOIN productos p ON v.id_producto = p.id_producto
WHERE v.region = 'Lima';
""", engine)
print(df8)

Empty DataFrame
Columns: [id_producto, nombre_producto]
Index: []

In [12]:
# -------------------------------
# 9. Obtener el número total de clientes por país.
# -------------------------------
df9 = pd.read_sql("SELECT pais, COUNT(id_cliente) AS total_clientes FROM clientes GROUP BY pais;", engine)
print(df9)

       pais  total_clientes
0    Mexico             227
1      Peru             199
2  Colombia             187
3     Chile             187

In [13]:
# -------------------------------
# 10. Mostrar los 10 clientes más recientes (ordenados por fecha_registro).
# -------------------------------
df10 = pd.read_sql("""
SELECT TOP (10) id_cliente, nombre, fecha_registro
FROM clientes
ORDER BY fecha_registro DESC;
""", engine)
print(df10)

   id_cliente       nombre fecha_registro
0         800  Cliente 800     2022-03-10
1         799  Cliente 799     2022-03-09
2         798  Cliente 798     2022-03-08
3         797  Cliente 797     2022-03-07
4         796  Cliente 796     2022-03-06
5         795  Cliente 795     2022-03-05
6         794  Cliente 794     2022-03-04
7         793  Cliente 793     2022-03-03
8         792  Cliente 792     2022-03-02
9         791  Cliente 791     2022-03-01

In [14]:
# -------------------------------
# 11. Listar las ventas donde la cantidad vendida sea mayor a 4 unidades.
# -------------------------------
df11 = pd.read_sql("SELECT * FROM ventas WHERE cantidad > 4 ORDER BY cantidad DESC;", engine)
print(df11)

      id_venta  id_cliente  id_producto  id_vendedor fecha_venta  cantidad  \
0            2         550           40           49  2023-04-25         5
1            8         659           33           30  2023-05-23         5
2            9         542           39            3  2025-01-24         5
3           20         622           22            6  2023-04-06         5
4           22         275            8           23  2023-08-27         5
...        ...         ...          ...          ...         ...       ...
6598     32747          53           20           10  2025-03-15         5
6599     32756         437           28           40  2023-06-12         5
6600     32760         654           32           10  2023-12-27         5
6601     32762         106           18           22  2023-01-25         5
6602     32764         572           25           42  2023-12-24         5

      precio_unitario   canal  region estado_entrega
0          338.890015  TIENDA   Norte      ENTREGADO
1          194.229996     WEB   Norte      ENTREGADO
2          356.179993     APP     Sur      PENDIENTE
3          327.089996     WEB  Centro      PENDIENTE
4          140.250000     APP   Norte      PENDIENTE
...               ...     ...     ...            ...
6598        22.969999  TIENDA  Centro      PENDIENTE
6599        42.720001     APP  Centro      ENTREGADO
6600        64.080002     APP   Norte      ENTREGADO
6601       435.739990  TIENDA  Centro      ENTREGADO
6602       450.600006     WEB   Norte      CANCELADO

[6603 rows x 10 columns]

In [15]:
# -------------------------------
# 12. Calcular el precio de venta promedio por categoría de producto.
# -------------------------------
df12 = pd.read_sql("""
SELECT p.categoria, AVG(v.precio_unitario) AS precio_unit_promedio
FROM productos p LEFT JOIN ventas v ON p.id_producto = v.id_producto
GROUP BY p.categoria;
""", engine)
print(df12)

     categoria  precio_unit_promedio
0     Juguetes            259.552634
1         Ropa            258.869221
2  Electronica            257.711123
3        Hogar            258.952685

In [16]:
# -------------------------------
# 13. Mostrar los empleados cuyo salario es superior a 3000.
# -------------------------------
df13 = pd.read_sql("SELECT * FROM empleados WHERE salario > 3000;", engine)
print(df13)

    id_vendedor       nombre       cargo id_jefe  id_departamento  \
0             1   Empleado 1        Jefe    None                3
1             2   Empleado 2    Vendedor    None                3
2             3   Empleado 3    Vendedor    None               27
3             4   Empleado 4    Vendedor    None               40
4             5   Empleado 5    Vendedor    None               38
5             6   Empleado 6  Supervisor    None               33
6             8   Empleado 8        Jefe    None                1
7             9   Empleado 9    Vendedor    None                8
8            11  Empleado 11  Supervisor    None               32
9            13  Empleado 13    Vendedor    None                4
10           14  Empleado 14  Supervisor    None               30
11           15  Empleado 15  Supervisor    None                6
12           16  Empleado 16  Supervisor    None               19
13           17  Empleado 17  Supervisor    None               32
14           18  Empleado 18  Supervisor    None                9
15           19  Empleado 19    Vendedor    None               12
16           20  Empleado 20  Supervisor    None               11
17           21  Empleado 21    Vendedor    None               16
18           22  Empleado 22    Vendedor    None                1
19           24  Empleado 24  Supervisor    None               30
20           25  Empleado 25    Vendedor    None               13
21           26  Empleado 26  Supervisor    None               34
22           29  Empleado 29        Jefe    None               38
23           31  Empleado 31        Jefe    None               27
24           32  Empleado 32  Supervisor    None                5
25           33  Empleado 33        Jefe    None               25
26           34  Empleado 34  Supervisor    None                3
27           35  Empleado 35        Jefe    None               33
28           36  Empleado 36  Supervisor    None                4
29           39  Empleado 39        Jefe    None               34
30           40  Empleado 40    Vendedor    None               26
31           41  Empleado 41        Jefe    None                5
32           42  Empleado 42    Vendedor    None               35
33           43  Empleado 43  Supervisor    None               28
34           44  Empleado 44        Jefe    None               29
35           45  Empleado 45  Supervisor    None                9
36           46  Empleado 46  Supervisor    None               38
37           47  Empleado 47        Jefe    None                6
38           48  Empleado 48    Vendedor    None               19
39           49  Empleado 49        Jefe    None               11

   fecha_contratacion      salario
0          2018-01-01  6840.640137
1          2018-01-02  4485.220215
2          2018-01-03  3825.689941
3          2018-01-04  4712.379883
4          2018-01-05  6883.620117
5          2018-01-06  3678.850098
6          2018-01-08  6128.089844
7          2018-01-09  6868.859863
8          2018-01-11  3059.179932
9          2018-01-13  3761.620117
10         2018-01-14  4427.279785
11         2018-01-15  6367.370117
12         2018-01-16  5732.459961
13         2018-01-17  5536.040039
14         2018-01-18  3790.439941
15         2018-01-19  6969.410156
16         2018-01-20  4563.370117
17         2018-01-21  7864.180176
18         2018-01-22  5621.919922
19         2018-01-24  5895.149902
20         2018-01-25  3613.179932
21         2018-01-26  5961.129883
22         2018-01-29  7062.290039
23         2018-01-31  6940.770020
24         2018-02-01  3315.290039
25         2018-02-02  5678.729980
26         2018-02-03  6011.979980
27         2018-02-04  4832.259766
28         2018-02-05  3484.520020
29         2018-02-08  3475.649902
30         2018-02-09  5745.560059
31         2018-02-10  7598.979980
32         2018-02-11  7162.830078
33         2018-02-12  6479.419922
34         2018-02-13  6624.910156
35         2018-02-14  5822.399902
36         2018-02-15  3191.860107
37         2018-02-16  7396.770020
38         2018-02-17  5859.759766
39         2018-02-18  5142.859863

In [17]:
# -------------------------------
# 14. Listar las ventas realizadas en el canal 'WEB' durante 2024.
# -------------------------------
df14 = pd.read_sql("""
SELECT * FROM ventas
WHERE canal = 'WEB' AND DATEPART(YEAR, fecha_venta) = 2024;
""", engine)
print(df14)

      id_venta  id_cliente  id_producto  id_vendedor fecha_venta  cantidad  \
0           29          73           40           13  2024-10-27         3
1           30         763           20           46  2024-12-19         3
2           35         787           18           37  2024-08-26         4
3           43         320           17           10  2024-12-15         5
4           44         673            2            1  2024-03-08         2
...        ...         ...          ...          ...         ...       ...
4349     32725         108           39           47  2024-10-08         2
4350     32730         793           30           31  2024-12-16         3
4351     32737         348           21            6  2024-10-07         4
4352     32745         184           24           23  2024-11-19         2
4353     32748         553           40           27  2024-08-15         4

      precio_unitario canal  region estado_entrega
0          157.899994   WEB   Norte      CANCELADO
1          166.889999   WEB     Sur      ENTREGADO
2          331.980011   WEB     Sur      PENDIENTE
3          398.589996   WEB   Norte      ENTREGADO
4          377.709991   WEB   Norte      ENTREGADO
...               ...   ...     ...            ...
4349       290.700012   WEB  Centro      CANCELADO
4350       389.739990   WEB  Centro      PENDIENTE
4351       188.220001   WEB   Norte      ENTREGADO
4352       267.670013   WEB   Norte      ENTREGADO
4353       329.519989   WEB     Sur      PENDIENTE

[4354 rows x 10 columns]

In [18]:
# -------------------------------
# 15. Mostrar las categorías de producto distintos.
# -------------------------------
df15 = pd.read_sql("SELECT categoria FROM productos GROUP BY categoria;", engine)
print(df15)

     categoria
0  Electronica
1        Hogar
2     Juguetes
3         Ropa

In [19]:
# -------------------------------
# 16. Calcular el total de ventas por producto.
# -------------------------------
df16 = pd.read_sql("""
SELECT p.id_producto, p.nombre_producto,
       SUM(v.precio_unitario * v.cantidad) AS total_ventas
FROM productos p LEFT JOIN ventas v ON p.id_producto = v.id_producto
GROUP BY p.id_producto, p.nombre_producto
ORDER BY total_ventas DESC;
""", engine)
print(df16)

    id_producto nombre_producto   total_ventas
0            38     Producto 38  704755.519556
1            36     Producto 36  701886.351013
2            22     Producto 22  686861.340338
3            30     Producto 30  677523.129295
4            28     Producto 28  665783.800100
5             3      Producto 3  664727.510323
6            23     Producto 23  664491.990200
7            21     Producto 21  661191.670395
8             2      Producto 2  660387.009052
9            26     Producto 26  655588.409838
10           39     Producto 39  654900.469412
11           17     Producto 17  652955.300337
12           20     Producto 20  645514.629530
13           18     Producto 18  641866.400389
14           16     Producto 16  641839.778654
15            1      Producto 1  641343.788960
16           19     Producto 19  640729.579790
17            5      Producto 5  640243.751316
18           40     Producto 40  638530.709908
19           32     Producto 32  636239.258524
20           34     Producto 34  635762.640615
21           29     Producto 29  635739.909386
22           27     Producto 27  634174.069635
23           14     Producto 14  633487.801298
24            6      Producto 6  633304.679892
25            4      Producto 4  631521.280159
26            9      Producto 9  624254.849709
27           24     Producto 24  623198.430794
28            8      Producto 8  622517.060621
29           10     Producto 10  618662.298735
30           25     Producto 25  618061.270039
31           33     Producto 33  614570.119226
32           31     Producto 31  609195.360586
33            7      Producto 7  608417.010025
34           12     Producto 12  607645.430508
35           15     Producto 15  605753.221296
36           11     Producto 11  604896.449461
37           37     Producto 37  601190.590061
38           35     Producto 35  601012.319944
39           13     Producto 13  578909.339203

In [20]:
# -------------------------------
# 17. Contar cuántos empleados tiene cada departamento.
# -------------------------------
df17 = pd.read_sql("""
SELECT d.id_departamento, COUNT(e.id_vendedor) AS Num_de_empleados
FROM departamentos d LEFT JOIN empleados e ON d.id_departamento = e.id_departamento
GROUP BY d.id_departamento
ORDER BY Num_de_empleados DESC;
""", engine)
print(df17)

    id_departamento  Num_de_empleados
0                 3                 3
1                 4                 3
2                28                 3
3                38                 3
4                30                 2
5                32                 2
6                33                 2
7                34                 2
8                27                 2
9                25                 2
10                5                 2
11                6                 2
12                1                 2
13                9                 2
14               11                 2
15               19                 2
16               37                 2
17               40                 1
18               20                 1
19               21                 1
20               12                 1
21               13                 1
22                2                 1
23               26                 1
24               16                 1
25                8                 1
26               29                 1
27               35                 1
28               31                 1
29               39                 0
30               36                 0
31               17                 0
32               18                 0
33               10                 0
34                7                 0
35               14                 0
36               15                 0
37               22                 0
38               23                 0
39               24                 0

In [21]:
# -------------------------------
# 18. Mostrar las ventas agrupadas por región y canal.
# -------------------------------
df18 = pd.read_sql("""
SELECT region, canal, SUM(precio_unitario * cantidad) AS ventas_totales
FROM ventas
GROUP BY region, canal
ORDER BY region, ventas_totales DESC;
""", engine)
print(df18)

   region   canal  ventas_totales
0  Centro  TIENDA    2.864467e+06
1  Centro     WEB    2.843752e+06
2  Centro     APP    2.839782e+06
3   Norte     WEB    2.845121e+06
4   Norte     APP    2.811636e+06
5   Norte  TIENDA    2.754702e+06
6     Sur  TIENDA    2.900191e+06
7     Sur     WEB    2.844720e+06
8     Sur     APP    2.815264e+06

In [22]:
# -------------------------------
# 19. Calcular el monto promedio de venta por cliente.
# -------------------------------
df19 = pd.read_sql("""
SELECT c.id_cliente, c.nombre,
       AVG(v.precio_unitario * v.cantidad) AS promedio_venta
FROM clientes c LEFT JOIN ventas v ON c.id_cliente = v.id_cliente
GROUP BY c.id_cliente, c.nombre
ORDER BY promedio_venta DESC;
""", engine)
print(df19)

     id_cliente       nombre  promedio_venta
0           696  Cliente 696     1077.421187
1           436  Cliente 436     1058.055386
2           508  Cliente 508     1037.767959
3           687  Cliente 687     1032.201624
4           545  Cliente 545     1029.016872
..          ...          ...             ...
795         507  Cliente 507      553.821929
796         523  Cliente 523      542.724143
797         222  Cliente 222      537.116317
798         501  Cliente 501      531.153999
799         686  Cliente 686      514.613124

[800 rows x 3 columns]

In [23]:
# -------------------------------
# 20. Obtener las fechas de la primera y última venta por cliente.
# -------------------------------
df20 = pd.read_sql("""
SELECT c.id_cliente,
       MAX(v.fecha_venta) AS fecha_última_compra,
       MIN(v.fecha_venta) AS fecha_primera_compra
FROM clientes c LEFT JOIN ventas v ON c.id_cliente = v.id_cliente
GROUP BY c.id_cliente
ORDER BY fecha_última_compra;
""", engine)
print(df20)

     id_cliente fecha_última_compra fecha_primera_compra
0           700          2025-02-28           2023-01-01
1           552          2025-03-03           2023-01-01
2            90          2025-03-07           2023-01-16
3           707          2025-03-12           2023-02-01
4           788          2025-03-17           2023-01-03
..          ...                 ...                  ...
795         380          2025-07-31           2023-01-14
796         302          2025-07-31           2023-01-27
797         186          2025-07-31           2023-01-05
798         163          2025-07-31           2023-02-12
799          83          2025-07-31           2023-01-31

[800 rows x 3 columns]

In [24]:
# -------------------------------
# 21. Mostrar los clientes cuyo país es igual al país del cliente con id_cliente = 10.
# -------------------------------
df21 = pd.read_sql("""
SELECT c2.*
FROM clientes c2
WHERE c2.pais = (SELECT c.pais FROM clientes c WHERE c.id_cliente = 10);
""", engine)
print(df21)

     id_cliente       nombre fecha_registro   pais    ciudad  edad genero
0            10   Cliente 10     2020-01-10  Chile  Trujillo    60      M
1            21   Cliente 21     2020-01-21  Chile     Piura    42      F
2            23   Cliente 23     2020-01-23  Chile     Cusco    35      F
3            26   Cliente 26     2020-01-26  Chile  Trujillo    62      M
4            27   Cliente 27     2020-01-27  Chile     Cusco    59      F
..          ...          ...            ...    ...       ...   ...    ...
182         762  Cliente 762     2022-01-31  Chile     Cusco    43      F
183         764  Cliente 764     2022-02-02  Chile     Piura    65      F
184         775  Cliente 775     2022-02-13  Chile      Lima    54      M
185         785  Cliente 785     2022-02-23  Chile      Lima    67      F
186         791  Cliente 791     2022-03-01  Chile      Lima    60      F

[187 rows x 7 columns]

In [25]:
# -------------------------------
# 22. Listar los 5 productos más caros según precio_lista.
# -------------------------------
df22 = pd.read_sql("""
SELECT TOP (5) id_producto, nombre_producto, precio_lista
FROM productos
ORDER BY precio_lista DESC;
""", engine)
print(df22)

   id_producto nombre_producto  precio_lista
0           14     Producto 14    499.209991
1           35     Producto 35    471.529999
2           15     Producto 15    467.890015
3           38     Producto 38    438.910004
4           39     Producto 39    424.130005

In [26]:
# -------------------------------
# 23. Mostrar los clientes que no tienen edad registrada.
# -------------------------------
df23 = pd.read_sql("SELECT * FROM clientes WHERE edad IS NULL;", engine)
print(df23)

Empty DataFrame
Columns: [id_cliente, nombre, fecha_registro, pais, ciudad, edad, genero]
Index: []

In [27]:
# -------------------------------
# 24. Calcular el total de ventas del producto más vendido.
# -------------------------------
df24 = pd.read_sql("""
WITH t1 AS (
    SELECT TOP 1 v.id_producto, SUM(v.cantidad) AS cantidad_ventas
    FROM ventas v
    GROUP BY v.id_producto
    ORDER BY cantidad_ventas DESC
)
SELECT t1.id_producto,
       SUM(v1.precio_unitario * v1.cantidad) AS ventas
FROM t1 LEFT JOIN ventas v1 ON t1.id_producto = v1.id_producto
GROUP BY t1.id_producto;
""", engine)
print(df24)

   id_producto         ventas
0           36  701886.351013

In [28]:
# -------------------------------
# 25. Mostrar las 5 ventas de mayor valor total.
# -------------------------------
df25 = pd.read_sql("""
SELECT TOP (5) id_venta,
       SUM(precio_unitario * cantidad) AS Total_venta
FROM ventas
GROUP BY id_venta
ORDER BY Total_venta DESC;
""", engine)
print(df25)

   id_venta  Total_venta
0        47  2499.550018
1     23420  2499.550018
2     13814  2499.349976
3      7658  2498.950043
4     12663  2497.599945